.header {
	display: flex;
	justify-content: center;
	width: 100%;
}

.headerInner {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #101010;
	border-radius: 15px;
	max-width: 1440px;
	width: 100%;
	height: 55px;
	padding: 0 6rem;
	margin: 3rem 6rem;
}

.logoNav {
	display: flex;
}

.logoNav > a {
	display: block;
	margin: 0.6rem;
	transition: all 0.4s ease-in-out;
}

.logoNav > a:hover img {
	transform: scale(1.1);
}

.logoNav img {
	width: 100%;
	height: 100%;
}

#mobileMenuButton {
	display: none;
	align-items: center;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 10px;
	height: 45px;
	padding: 0 20px;
	z-index: 0 !important;
}

#mobileMenuText {
	color: white;
	display: block;
	padding-right: 10px;
}

#hamburgerMenu {
	display: block;
	position: relative;
	width: 25px;
	height: 15px;
	transition: all 0.2s ease-in-out;
}

.bar {
	position: absolute;
	left: 0;
	right: 0;
	background-color: white;
	height: 2px;
	width: 25px;
	transition: all 0.2s ease-in-out;
}

.bar:first-child {
	top: 0;
	transition: all 0.2s ease-in-out;
}

.bar:last-child {
	bottom: 0;
	transition: all 0.2s ease-in-out;
}

.mobileMenuWrapper {
	display: none;
	background-color: #101010;
	position: absolute;
	left: 0;
	right: 0;
	top: 55px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	height: 0;
	visibility: hidden;
	opacity: 0;
}

/* Mobile active class */
.isMobileActive .headerInner {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.isMobileActive .bar {
	top: 35%;
	bottom: 35%;
}
.isMobileActive .bar:first-child {
	transform: rotate(45deg);
}
.isMobileActive .bar:last-child {
	transform: rotate(-45deg);
}

.isMobileActive .mobileMenuWrapper {
	display: block;
	padding: 3rem;
	height: 250px;
	visibility: visible;
	opacity: 1;
	z-index: 1;
}

@media only screen and (max-width: 1360px) {
	.headerInner {
		padding: 0 3rem;
	}
}
@media only screen and (max-width: 800px) {
	#mobileMenuButton {
		display: flex;
	}
}
@media only screen and (max-width: 700px) {
	.headerInner {
		margin: 3rem;
	}
}
@media only screen and (max-width: 500px) {
	.headerInner {
		padding: 0 1rem;
		margin: 3rem 1rem;
	}
}
